*.meta
App.config
/Library
/Logs
/obj
/Packages
/UserSettings
/Assets/TextMesh Pro
*.ttf
Assets/Tebex/Veilborn/GermaniaOne-Regular_1 SDF.asset
Assets/Tebex/Veilborn/Gabarito_wght__1 SDF.asset
Assets/Tebex/Veilborn/MedievalSharp_1 SDF.asset
Tebex Store Demo.sln.DotSettings.user
*.old
